// ========================================
// variables
// ========================================

$default-font: 'Lato', sans-serif;

$white: #ffffff;
$black: #000000;

$transition-primary: 300ms ease-in-out;
